<!-- <h2 mat-dialog-title>Список ваших матчей</h2> -->
<mat-dialog-content>
  <div class="request" *ngFor="let request of list; let i = index">

    <h4 class="title">Матч ID: {{request.ID}}</h4>
    <span class="subtitle">1) Выберите колоду противника, которую вы хотите забанить. Затем нажмите кнопку сохранить. </span>
    <span class="subtitle">p.s. Помните что в группе мы не баним 4-ую колоду (⚠️), так как она является дополнительно для плай-офф.</span>
    <span class="subtitle">2) Дождитесь выбора противника. </span>
    <span class="subtitle">3) Сыграёте с противником матчи. </span>
    <span class="subtitle">4) После завершения матчей сообщите о результате, написав в поле "Результат". Например, "Выиграл 3-2"</span>

    <div class="gamer-info">
      <h5>{{request.GamerBattleTag}}</h5>
      <app-deck-list *ngIf="(request.GamerBattleTag === data.profile.BattleTag && request.isShowen) || request.OpponentBattleTag === data.profile.BattleTag"
        [deckList]="request.GamerDeckList"
        [BannedDeck]="request.GamerBannedDeck"
        (OnSelect)="ban($event, request, 'gamer')"
      ></app-deck-list>
      <div *ngIf="request.GamerBattleTag === data.profile.BattleTag && !request.isShowen">
          {{ request.OpponentBannedDeck !== null ? "Ждем решения противника" : "Для начала выберите колоду, которую вы хотите забанить"}}
      </div>
    </div>

    <div class="gamer-info">
      <h5>{{request.OpponentBattleTag}}</h5>
      <app-deck-list *ngIf="(request.OpponentBattleTag === data.profile.BattleTag && request.isShowen) || request.GamerBattleTag === data.profile.BattleTag"
        [deckList]="request.OpponentDeckList"
        [BannedDeck]="request.OpponentBannedDeck"
        (OnSelect)="ban($event, request, 'opponent')"
      ></app-deck-list>
      <div *ngIf="request.OpponentBattleTag === this.data.profile.BattleTag && !request.isShowen">
        {{ request.GamerBannedDeck !== null ? "Ждем решения противника" : "Для начала выберите колоду, которую вы хотите забанить"}}
      </div>
    </div>

    <mat-form-field appearance="outline" *ngIf="request.OpponentBattleTag === data.profile.BattleTag && request.isShowen">
      <mat-label>Результат</mat-label>
      <input matInput placeholder="Результат"
      [(ngModel)]="request.OpponentResultInfo">
    </mat-form-field>
    <mat-form-field appearance="outline" *ngIf="request.GamerBattleTag === data.profile.BattleTag && request.isShowen">
      <mat-label>Результат</mat-label>
      <input matInput placeholder="Результат"
      [(ngModel)]="request.GamerResultInfo">
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="save(request)">Сохранить (Матч ID {{request.ID}})</button>

    <mat-divider></mat-divider>

  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" mat-dialog-close>Закрыть</button>
</mat-dialog-actions>
