@import "../../../variables.less";

:host {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    overflow: auto;
}

.deck-list__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 4px;
    margin-right: 8px;
    overflow: auto;
    cursor: pointer;
    width: 170px;
    height: 35px;

    span {
        padding-left: 4px;
        line-height: 18px;
        font-size: 14px;
        font-weight: 500;
        color: @color-grey;
    }

    &:hover {
        span {
            color: @color-grey-hover;
        }
    }
}

.img {
    position: relative;
    width: 24px;
    height: 24px;
    
    &.banned {
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 50%;
            background-color: fade(@color-danger, 50%);
        }
    }
}

@media (max-width: @screen-medium) {

    :host {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 8px;
        overflow: auto;
        flex-wrap: wrap;
    }

    .deck-list__item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 50px;

        padding: 2px;
        margin-right: 0;
        margin-bottom: 4px;
        overflow: auto;
        cursor: pointer;
    
        span {
            padding-left: 0;
            line-height: 18px;
            font-size: 12px;
            font-weight: 600;
            color: @color-grey-hover;
        }
    }
}