@import "../../../../variables.less";

:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex: 1 1 auto;
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1 1 auto;

    padding: 8px;
    overflow: auto;
}

.tournament__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.tournament__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 320px;
    height: 175px;
    margin: 8px;
    background-color: fade(@background-brown, 35%);
    
    &:hover {
        background-color: fade(@background-brown, 50%);
    }

    img {
        max-height: 100px;
        max-width: 200px;
    }

    span {
        font-weight: 600;
        color: @background-brown-dark;
    }

    .tournament__item--delete {
        position: absolute;
        top: 0px;
        right: 0px;
    }

    &.tournament__item--add {
        background-color: fade(@background-brown, 50%);

        mat-icon {
            color: @background-white;
        }
        
        &:hover {
            background-color: fade(@background-brown, 60%);
            button {
                color: @color-text-yellow;
            }
            mat-icon {
                color: @color-text-yellow;
            }
        }
    }
}