<div class="wrapper">
  <div class="tournament__list" *ngIf="tournamentsInfo && tournamentsInfo.result">
    
    
    <div class="tournament__item mat-elevation-z1" *ngFor="let item of tournamentsInfo.result" >
      <img src="assets/img/43-49e38d177a7f7b668950e5bb47f2c7cb9a8f9fd299b6ab9729f508b0faffe756d2cb2587b0c8f67ace30fa2936383a8754b6459b9eb8dace5a9e1f286c25160e.png" alt="battle">
      <button mat-raised-button color="primary" 
        (click)="goToTournament(item)"
      > <mat-icon>open_in_new</mat-icon> {{item.Title}} </button>
      
      <button mat-icon-button color="warn" class="tournament__item--delete" *ngIf="profile !== null && item.UserID === profile.ID" (click)="deleteTournament(item)">
        <mat-icon>close</mat-icon>
      </button>
    </div>


    <div class="tournament__item mat-elevation-z1 tournament__item--add" *ngIf="profile !== null && profile.Role === 'admin'">
      <mat-form-field appearance="outline">
        <mat-label>Название</mat-label>
        <input matInput placeholder="Название" #newTournamentTitle>
      </mat-form-field>
      <button mat-raised-button color="primary" 
        (click)="addTournament(newTournamentTitle)"
      > <mat-icon>add</mat-icon> Добавить </button>
    </div>
  </div>
</div>