<div class="wrapper">

  <div class="header mat-elevation-z4">
    <div class="logo"></div>
    <div class="header__element">
      <h3>Гость</h3>
    </div>
    <div class="divider"></div>
    <div class="header__element header__element--with-hover">
      <h3>Вход</h3>
    </div>
  </div>
  
  <div class="body">
    
    <div class="body__user mat-elevation-z4">
      <h1>User</h1>      
    </div>

    <div class="body__main mat-elevation-z4">
      <router-outlet></router-outlet> 
    </div>

  </div>

</div>