@import "../../../../variables.less";

:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex: 1 1 auto;
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex: 1 1 auto;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    flex-shrink: 0;

    margin-bottom: 24px;
    background-color: @background-white;
    padding: 0 45px 0 80px;
    height: 70px;
    position: relative;
    z-index: 100;

    .bgcover('/assets/img/wood/wood_middle_repeat.png');

    a {
        text-decoration: none;
    }

    .header__element {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;

        position: relative;
        cursor: pointer;
        z-index: 300;
        padding: 8px 16px;

        color: fade(@color-text-yellow, 87%);
        text-shadow: 2px 2px 2px @color-text-black-hover;

        

        &.header__element--with-hover:hover {
            background-color: fade(@color-text-black-hover, 35%);
            color: @color-text-yellow;

            &::after {
                content: '';
                position: absolute;
                left: 0px;
                right: 0px;
                bottom: 0px;
                height: 4px;
                z-index: 300;
                background-color: @color-text-yellow;
            }
        }
    }

    .divider {
        width: 5px;
        height: 60px;
        z-index: 300;
        margin: 5px 2px;
        .bgcover('/assets/img/wood/divider.png');
    }
    .logo {
        content: '';
        position: absolute;
        top: 0px;
        left: 24px;
        width: 70px;
        height: 70px;
        z-index: 300;
        .bgcover('/assets/img/logo/logo_small.png');
    }

    &::after, &::before {
        content: '';
        position: absolute;
        top: 0px;
        bottom: 0px;
        width: 132px;
        z-index: 200;
    }
    &::before {
        left: 0px;
        .bgcover('/assets/img/wood/wood_left.png');
    }
    &::after {
        right: 0px;
        .bgcover('/assets/img/wood/wood_right.png');
    }
}
@media (max-width: @screen-medium) {
    h3, .h3 {
        font-size: @font-size-h4;
    }
}
@media (max-width: @screen-small) {
    .header {
        margin-bottom: 8px;
    }
    h3, .h3 {
        font-size: @font-size-h6;
    }
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1 1 auto;
    
    .body__user {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        background-color: @background-white;
        width: 430px;
        margin: 24px;

        .telegram-request {
            width: 100%;
            text-align: center;
            font-size: 12px;
            padding: 4px;
            margin-bottom: 8px;
            background-color: fade(@background-yellow, 50%);
            border-radius: 4px;

            strong {
                color: @color-blue-hover;
            }

            &.telegram-request--can-copy {
                background-color: @background-yellow;
                padding: 8px 4px;
                margin-bottom: 16px;

                cursor: pointer;
            }

            mat-icon {
                @custom-icon-size: 16px;
                width: @custom-icon-size;
                height: @custom-icon-size;
                font-size: @custom-icon-size;
                line-height: @custom-icon-size;
                margin-right: 4px;
                color: @color-blue-hover;
            }
        }
    }
    .body__user--invisible {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        width: 120px;

        .body-user__img, .body-user__name {
            display: none;
        }

        .body-user__actions {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    
    .body__main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        align-self: stretch;
        flex: 1 1 auto;

        background-color: @background-white;
        margin: 24px;
    }
}

.body__user {
    border-radius: 4px;

    .body-user__img {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        height: 330px;
        width: 430px;
        border-radius: 4px 4px 0 0;
        position: relative;
        background: @background-brown-dark;
        z-index: 500;

        .img {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            border-radius: 4px 4px 0 0;
            background: @background-brown;
            z-index: 500;
        }

        img {
            height: 330px;
            z-index: 500;
        }
        
        &::after {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;

            border-radius: 4px 4px 0 0;
            .bgcover('assets/img/card-hearthstone.jpg');
            background-position: top center;
            z-index: 200;
            opacity: .5;
        }
    }
    .body-user__name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: @background-brown-dark;
        color: @color-text-yellow;
        padding: 16px 0;
        h3 {
            font-weight: 700;
            text-shadow: 1px 1px 1px @color-text-black;
        }
    }
    .body-user__actions {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        padding: 16px;
        border-radius: 0 0 4px 4px;

        button {
            margin-bottom: 8px;
        }
        button:last-child {
            margin-bottom: 0px;
        }
    }

}

@media (max-width: @screen-medium) {
    .body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        
        overflow: auto;

        .body__user {
            flex-shrink: 0;
            align-self: center;
        }
        .body__main {
            flex-shrink: 0;
            min-height: 500px;
        }
    }
}
@media (max-width: @screen-small) {
    .body {
       
        .body__user {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
    
            background-color: @background-white;
            width: 100%;
            margin: 8px;
        }
        
        .body__main {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            align-self: stretch;
            flex: 0 0 auto;
    
            background-color: @background-white;
            margin: 8px;
        }
    }

    .body__user {
        border-radius: 0px;
    
        .body-user__img {
            width: 100%;
            border-radius: 0px;
            .img {
                border-radius: 0px;
            }
            img {
                width: 100%;
            }
            
            &::after {
                border-radius: 0;
            }
        }

        .body-user__actions {
    
            padding: 8px;
            border-radius: 0px;
    
            button {
                margin-bottom: 8px;
            }
            button:last-child {
                margin-bottom: 0px;
            }
        }
    
    }
}