<div class="wrapper">

  <div class="header mat-elevation-z4">
    <div class="logo"></div>
    <div class="header__element">
      <h3 *ngIf="profile !== null">{{profile.FIO }}</h3>
      <h3 *ngIf="profile === null">Гость</h3>
    </div>
    <div class="divider"></div>
    <div class="header__element header__element--with-hover">
      <h3 *ngIf="profile !== null" (click)="logout()">Выход</h3>
      <a class="h3" *ngIf="profile === null" routerLink="/login" routerLinkActive="active">Вход</a>
    </div>
  </div>
  
  <div class="body">
    
    <div class="body__user mat-elevation-z4" [class.body__user--invisible]="isUserInvisible">
      <div class="body-user__img">
        <div class="img">
          <img *ngIf="profile !== null" src="assets/img/43-49e38d177a7f7b668950e5bb47f2c7cb9a8f9fd299b6ab9729f508b0faffe756d2cb2587b0c8f67ace30fa2936383a8754b6459b9eb8dace5a9e1f286c25160e.png" alt="hearthstone">
        </div>
      </div>
      <div class="body-user__name">
        <h3 *ngIf="profile !== null">{{profile.FIO }}</h3>
        <h3 *ngIf="profile === null">Гость</h3>
      </div>
      <div class="body-user__actions">
        <button mat-raised-button color="primary" *ngIf="!isUserInvisible" (click)="toogleUserInvisible()">
          Скрыть панель
        </button>
        <button mat-fab color="primary" *ngIf="isUserInvisible" (click)="toogleUserInvisible()" >
          <mat-icon>open_in_new</mat-icon>
        </button>
        <!-- <button mat-raised-button color="primary" *ngIf="isUserInvisible">Добавить турнир</button> -->
        <button mat-raised-button color="primary" *ngIf="profile !== null && !profile.ChatID" (click)="GetTelegramRequestCode()">Синхронизация с телеграмм</button>
        <span class="telegram-request" *ngIf="telegramRequest">Добавьте телеграмм бота: </span>
        <span class="telegram-request telegram-request--can-copy" *ngIf="telegramRequest" (click)="copyMessage('@HSTavernDubnaBot')">
          <mat-icon>file_copy</mat-icon>
          <strong>@HSTavernDubnaBot</strong>
        </span>
        <span class="telegram-request" *ngIf="telegramRequest">И отправте ему сообщение:</span>
        <span class="telegram-request telegram-request--can-copy" *ngIf="telegramRequest" (click)="copyMessage()">
          <mat-icon>file_copy</mat-icon>
          <strong>/request</strong> {{telegramRequest}}</span>
        <button mat-raised-button color="warn" *ngIf="profile !== null" (click)="logout()">Выход</button>
        <button mat-raised-button color="accent" *ngIf="profile === null" routerLink="/login" routerLinkActive="active">Вход</button>
      </div>
    </div>

    <div class="body__main mat-elevation-z4">
      <router-outlet></router-outlet> 
    </div>

  </div>

</div>