@import "../../../../variables.less";

:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    height: 100%;
    padding: 8px;
    
    overflow: auto;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-shrink: 0;

    button {
        margin-bottom: 8px;
    }

    .tournament-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        flex-shrink: 0;
        background-color: @background-yellow;
        padding: 16px 8px;
        border-radius: 4px;
        margin-bottom: 8px;
        
        span {
            margin-bottom: 2px;
        }
    }

}
.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;

    padding: 16px 8px;
    button {
        width: 20%;
    }
}

.title {
    padding: 16px 8px;
    margin: 8px 0;
    background-color: fade(@background-yellow, 80%);
}

.member-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.member-list__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 16px;
    border-radius: 4px;
    
    span {
        font-weight: 300;
        padding-right: 8px;
        border-right: 1px solid @color-grey;
        width: 255px;
    }
    app-deck-list {
        opacity: .55;
    }

    &:hover {
        background-color: fade(@background-brown, 8%);

        app-deck-list {
            opacity: 1;
        }
    }
}

@media (max-width: @screen-medium) {

}
@media (max-width: @screen-small) {
    .actions {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-shrink: 0;
    
        // padding: 16px 8px;
        button {
            width: 80%;
            margin-bottom: 8px;
        }
    }

    .member-list__item  {
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        padding: 4px 8px;

        span {
            padding-right: 0;
            padding-bottom: 8px;
            border-right: 0;
            border-bottom: 1px solid @color-grey;

            width: auto;
            text-align: center;
        }
        app-deck-list {
            opacity: .55;
        }
    }
}